<!DOCTYPE html>
<html lang="en">

<head>
    <title>Healthcare something or other</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link href="assets/css/style.css" rel="stylesheet" title="Default Style">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

    <script src="assets/js/chart.js"></script>




</head>

<body>




    {{{body}}}





    <style>
        #list-div {
            max-height: 400px;
            overflow: auto;
        }

    </style>

    <script src="assets/js/min-max.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/js/calls.js"></script>
    <script src="assets/js/animation.js"></script>


</body>

</html>
