<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ill-Lumination</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="assets/css/style.css" rel="stylesheet" title="Default Style">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

</head>

<body>
	<div class='container'>
		<div class='row logo-area'>
			<div class='col-md-12'>
				<img src="assets/img/logo1.png" class='logo-img'>
				<h1 class='logo-area-text'><small>Hospital Procedure Cost Variations</small></h1>
			</div>
			<div class='col-md-12 top-margin'>
				<ul class="nav nav-pills left-margin">
					<li role="presentation" class="active" id="nav-home"><a href="/">Home</a></li>
					<li role="presentation" id="nav-patient"><a href="/patient">Enter Your Health Data</a></li>
				</ul>
			</div>
		</div>
	</div>
	{{{body}}}

	<script src="assets/js/min-max.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js" type="text/javascript" charset="utf-8"></script>
	<script src="assets/js/calls.js"></script>
	<script src="assets/js/animation.js"></script>
</body>

</html>
