<header>
    <h1 class="text-center">This is the main page</h1>
</header>


<div id="list-div">
    <ul>
        {{#each names}}
        <li><button class="btn btn-secondary btn-sm proc_id" data-id="{{this.procedureId}}">{{this.procedureName}}</button></li>
        {{/each}}
    </ul>
</div>
