<div class="container">
	<a name="topAnchor" id="topAnchor"></a>

	<div class="page-header">
		<h1>Ill-Lumination <small>Procedure Cost Variations</small></h1>
	</div>

	<div class="row">

		<div class="col-md-6">
			<p class="lead">The United States health system is one of the most complicated in the world. Simply the cost of a medical procedure can not only drastically vary in cost from state to state, but from hospital to hospital in a single community. For example, in Alabama an EMT can decide to drive you to one hospital where a coronary bypass will cost you six times as much as a nearby hospital potentially costing an extra $431,970.23.</p>

			<h5 class="top-buffer">Choose a procedure to view the vast difference of cost between states in the US.</h5>

			<div class="col-md-12" id="procs-div">
				{{#each names}}
				<div class="col-md-6 top-buffer"><a class="btn btn-default btn-block proc-btn" href="#procedureAnchor" role="button" data-id="{{this.procedureId}}" data-name="{{this.procedureName}}">{{this.procedureName}}</a></div>
				{{/each}}
			</div>
		</div>
		<div class="col-md-6">
			<canvas id="min-max"></canvas>
		</div>
	</div>

	<div class="page-header top-buffer-header">
		<a name="procedureAnchor" id="procedureAnchor"></a>
		<h1>Heart Transplant <small>Procedure Cost by State</small></h1>
	</div>

	<div class="row">

		<div id="one" class="col-md-8">
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra velit massa, et tempus lorem hendrerit eu. Fusce nec ligula placerat, dictum arcu in, interdum arcu. Curabitur dignissim porttitor justo at efficitur.</p>

			<div id="map" style="width: 750px; height: 500px;"></div>
		</div>
		<!-- end one -->

		<div class="col-md-4">
			<h2 class="text-center">State Ranking</h2>
			<div id="rank">

				<div id="list-div">
				</div>
			</div>
		</div>
		<!-- end col-md-4 -->
	</div>
	<!-- end row -->
	<div class="row">
		<div class="col-md-2 col-md-offset-10">
			<a href="#topAnchor">Back to Top</a>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

</div>
<!-- end container -->
